Source: switchboard-plug-locale
Section: x11
Priority: optional
Maintainer: Simon Dieterle <smndtrl@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libgranite-dev,
               libswitchboard-2.0-dev,
               libgnome-desktop-3-dev,
               libaccountsservice-dev,
               libibus-1.0-dev,
               valac (>= 0.34.1)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/switchboard-plug-locale

Package: switchboard-plug-locale
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: switchboard
Description: Region & Language plug for Switchboard
 Change your region and language settings

Package: switchboard-plug-locale-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-locale (= ${binary:Version}), ${misc:Depends}
Enhances: switchboard-plug-locale
Description: Region & Language plug for Switchboard (debugging symbols)
 Change your region and language settings
 .
 This package contains debugging symbols for switchboard-plug-locale.
