[Desktop Entry]
Name=Language & Region
Comment=Install languages, set region, and choose date & currency formats
Exec=switchboard -o system-pantheon-locale
Icon=preferences-desktop-locale
Terminal=false
Type=Application
StartupNotify=true
Categories=X-PANTHEON-Switchboard-Plugs;
OnlyShowIn=Pantheon;
Keywords=language;region;locale;currency;
X-GNOME-Gettext-Domain=locale-plug
